In [3]:
import pandas as pd

In [5]:
education = pd.read_csv('educational_attainment - Sheet1.csv')

education

,Country,All Adults,Less than 9th Grade,9th-12th Grade,High School Diploma or Equivalent,Some College or Associate's Degree,Bachelor's Degree or Higher
0,U.S. Born,"189,038,000",2%,5%,27%,30%,36%
1,All immigrants,"40,741,000",16%,9%,22%,18%,35%
2,Recently Arrived Immigrants,"1,945,000",12%,7%,19%,13%,48%
3,Mexico,"288,000",27%,15%,24%,11%,24%
4,India,"215,000",3%,3%,4%,4%,86%
5,China/Hong Kong,"94,000",9%,4%,17%,11%,60%
6,Venezuela,"84,000",6%,4%,22%,22%,46%
7,Cuba,"68,000",4%,16%,37%,15%,28%
8,Colombia,"67,000",8%,5%,22%,21%,44%
9,Brazil,"60,000",10%,6%,25%,10%,49%
10,Canada,"56,000",4%,5%,16%,26%,50%
11,Philippines,"56,000",3%,2%,12%,18%,65%
12,Dominican Republic,"45,000",12%,11%,29%,21%,27%
13,Honduras,"44,000",38%,8%,29%,12%,13%
14,Guatemala,"43,000",49%,15%,19%,7%,10%
15,El Salvador,"40,000",39%,12%,30%,8%,12%
16,Korea,"38,000",1%,0%,8%,4%,87%
17,Haiti,"32,000",17%,18%,35%,19%,12%
18,Nicaragua,"31,000",34%,12%,28%,15%,12%
19,Japan,"30,000",2%,0%,4%,9%,85%
20,Ukraine,"29,000",3%,2%,20%,13%,62%
21,Vietnam,"28,000",17%,10%,22%,13%,38%
22,Afghanistan,"28,000",28%,6%,19%,11%,36%
23,Ecuador,"28,000",15%,7%,41%,15%,22%
24,United Kingdom,"24,000",0%,3%,13%,19%,65%
25,Nigeria,"23,000",3%,1%,12%,11%,73%
26,Jamaica,"22,000",3%,15%,50%,11%,21%
27,Germany,"19,000",2%,4%,22%,10%,62%
28,Pakistan,"17,000",3%,5%,9%,15%,68%
29,Nepal,"17,000",19%,5%,7%,15%,53%
30,Russia,"16,000",2%,1%,13%,13%,71%
31,Bangladesh,"15,000",10%,7%,13%,5%,66%
32,Peru,"15,000",8%,5%,31%,24%,32%
33,Iran,"14,000",3%,1%,8%,11%,77%
34,Taiwan,"13,000",0%,1%,5%,6%,88%
35,Turkey,"13,000",3%,2%,10%,6%,79%
36,France,"11,000",2%,0%,4%,7%,87%
37,South Africa,"10,000",1%,7%,29%,25%,38%

In [7]:
education.columns

Index(['Country', 'All Adults', 'Less than 9th Grade', '9th-12th Grade',
       'High School Diploma or Equivalent',
       'Some College or Associate's Degree', 'Bachelor's Degree or Higher'],
      dtype='object')

In [10]:
def remove_percent(df, columns):
    for column in columns:
        df[column] = df[column].str.replace('%', '').astype(float)
    return df

# List of columns to remove '%' from
columns_to_remove_percent = ['Less than 9th Grade', '9th-12th Grade',
       'High School Diploma or Equivalent',
       "Some College or Associate's Degree", "Bachelor's Degree or Higher"]

# Apply the function
df_cleaned = remove_percent(education.copy(), columns_to_remove_percent)

df_cleaned

,Country,All Adults,Less than 9th Grade,9th-12th Grade,High School Diploma or Equivalent,Some College or Associate's Degree,Bachelor's Degree or Higher
0,U.S. Born,"189,038,000",2.0,5.0,27.0,30.0,36.0
1,All immigrants,"40,741,000",16.0,9.0,22.0,18.0,35.0
2,Recently Arrived Immigrants,"1,945,000",12.0,7.0,19.0,13.0,48.0
3,Mexico,"288,000",27.0,15.0,24.0,11.0,24.0
4,India,"215,000",3.0,3.0,4.0,4.0,86.0
5,China/Hong Kong,"94,000",9.0,4.0,17.0,11.0,60.0
6,Venezuela,"84,000",6.0,4.0,22.0,22.0,46.0
7,Cuba,"68,000",4.0,16.0,37.0,15.0,28.0
8,Colombia,"67,000",8.0,5.0,22.0,21.0,44.0
9,Brazil,"60,000",10.0,6.0,25.0,10.0,49.0
10,Canada,"56,000",4.0,5.0,16.0,26.0,50.0
11,Philippines,"56,000",3.0,2.0,12.0,18.0,65.0
12,Dominican Republic,"45,000",12.0,11.0,29.0,21.0,27.0
13,Honduras,"44,000",38.0,8.0,29.0,12.0,13.0
14,Guatemala,"43,000",49.0,15.0,19.0,7.0,10.0
15,El Salvador,"40,000",39.0,12.0,30.0,8.0,12.0
16,Korea,"38,000",1.0,0.0,8.0,4.0,87.0
17,Haiti,"32,000",17.0,18.0,35.0,19.0,12.0
18,Nicaragua,"31,000",34.0,12.0,28.0,15.0,12.0
19,Japan,"30,000",2.0,0.0,4.0,9.0,85.0
20,Ukraine,"29,000",3.0,2.0,20.0,13.0,62.0
21,Vietnam,"28,000",17.0,10.0,22.0,13.0,38.0
22,Afghanistan,"28,000",28.0,6.0,19.0,11.0,36.0
23,Ecuador,"28,000",15.0,7.0,41.0,15.0,22.0
24,United Kingdom,"24,000",0.0,3.0,13.0,19.0,65.0
25,Nigeria,"23,000",3.0,1.0,12.0,11.0,73.0
26,Jamaica,"22,000",3.0,15.0,50.0,11.0,21.0
27,Germany,"19,000",2.0,4.0,22.0,10.0,62.0
28,Pakistan,"17,000",3.0,5.0,9.0,15.0,68.0
29,Nepal,"17,000",19.0,5.0,7.0,15.0,53.0
30,Russia,"16,000",2.0,1.0,13.0,13.0,71.0
31,Bangladesh,"15,000",10.0,7.0,13.0,5.0,66.0
32,Peru,"15,000",8.0,5.0,31.0,24.0,32.0
33,Iran,"14,000",3.0,1.0,8.0,11.0,77.0
34,Taiwan,"13,000",0.0,1.0,5.0,6.0,88.0
35,Turkey,"13,000",3.0,2.0,10.0,6.0,79.0
36,France,"11,000",2.0,0.0,4.0,7.0,87.0
37,South Africa,"10,000",1.0,7.0,29.0,25.0,38.0

In [12]:
children = pd.read_csv("Unnacompanied_children - Sheet1.csv")

children

,State,FY 2014,FY 2015,FY 2016,FY 2017,FY 2018,FY 2019,FY 2020,FY 2021,FY 2022,FY 2023 YTD*,FY 2014 - 2023 YTD* Total
0,United States,"53,515","27,840","52,147","42,497","34,953","72,837","16,837","107,686","127,447","101,871","637,630"
1,Alabama,786,808,870,598,736,"1,111",247,"1,946","2,378","1,821","11,301"
2,Alaska,4,2,5,3,-,4,-,4,6,6,34
3,Arizona,295,167,330,322,258,493,162,631,782,762,"4,202"
4,Arkansas,307,186,309,272,193,359,87,790,926,788,"4,217"
5,California,"5,831","3,629","7,381","6,268","4,675","8,447","2,225","10,773","13,730","10,073","73,032"
6,Colorado,426,248,427,379,313,714,172,"1,088","1,424","1,430","6,621"
7,Connecticut,552,206,454,412,332,959,260,"1,447","1,302","1,114","7,038"
8,Delaware,212,152,275,178,222,383,107,519,573,470,"3,091"
9,District of Columbia,375,201,432,294,138,322,48,307,421,312,"2,850"
10,Florida,"5,445","2,908","5,281","4,059","4,131","7,408","1,523","11,145","13,195","9,507","64,602"
11,Georgia,"2,047","1,041","1,735","1,350","1,261","2,558",559,"4,358","5,233","4,513","24,655"
12,Hawaii,8,2,4,4,1,16,6,23,22,49,135
13,Idaho,19,11,39,11,28,62,19,84,125,146,544
14,Illinois,552,312,519,462,475,863,211,"1,712","2,930","2,980","11,016"
15,Indiana,448,240,354,366,394,794,209,"1,593","1,867","1,634","7,899"
16,Iowa,235,201,352,277,238,489,119,677,820,691,"4,099"
17,Kansas,312,245,326,289,305,453,95,718,807,688,"4,238"
18,Kentucky,413,274,503,364,370,710,158,"1,042","1,242","1,149","6,225"
19,Louisiana,"1,755",480,973,"1,043",931,"1,966",355,"2,851","3,420","2,312","16,086"
20,Maine,17,4,9,11,22,26,11,64,96,116,376
21,Maryland,"3,884","1,794","3,871","2,957","1,723","4,671",825,"5,471","6,062","4,436","35,694"
22,Massachusetts,"1,372",738,"1,541","1,077",814,"1,756",448,"2,549","2,700","2,035","15,030"
23,Michigan,193,132,227,160,136,248,74,451,673,658,"2,952"
24,Minnesota,304,243,318,320,294,624,151,"1,002","1,071","1,064","5,391"
25,Mississippi,290,207,300,237,299,482,108,707,745,578,"3,953"
26,Missouri,222,170,261,234,203,431,93,794,"1,008",907,"4,323"
27,Montana,1,2,-,2,3,-,2,28,38,49,125
28,Nebraska,351,293,486,355,374,563,130,889,919,713,"5,073"
29,Nevada,228,137,283,229,132,324,79,465,616,499,"2,992"
30,New Hampshire,35,14,25,27,20,25,8,67,61,53,335
31,New Jersey,"2,680","1,462","2,637","2,268","1,877","4,236",921,"5,911","6,648","4,813","33,453"
32,New Mexico,41,19,65,46,43,89,34,116,141,167,761
33,New York,"5,955","2,630","4,985","3,938","2,845","6,367","1,663","8,534","8,543","7,647","53,107"
34,North Carolina,"2,064",844,"1,493","1,290","1,100","2,522",610,"4,249","4,888","4,223","23,283"
35,North Dakota,4,2,10,3,2,10,1,14,19,19,84
36,Ohio,635,483,693,584,547,"1,091",260,"1,675","1,993","1,748","9,709"
37,Oklahoma,377,225,301,267,286,581,120,906,"1,062",818,"4,943"
38,Oregon,115,122,188,170,200,318,71,438,562,540,"2,724"
39,Pennsylvania,660,333,604,501,563,"1,229",271,"2,103","2,518","2,059","10,841"
40,Puerto Rico,-,-,-,-,1,3,3,-,3,4,14
41,Rhode Island,203,185,269,234,235,453,92,520,609,495,"3,295"
42,South Carolina,588,294,562,483,508,"1,012",255,"1,743","2,251","1,990","9,686"
43,South Dakota,48,61,81,81,96,149,44,233,272,214,"1,279"
44,Tennessee,"1,294",765,"1,354","1,066","1,173","2,191",510,"4,267","4,821","4,049","21,490"
45,Texas,"7,409","3,272","6,550","5,391","4,136","9,900","2,336","15,341","19,071","14,787","88,193"
46,Utah,119,62,126,99,97,179,75,307,491,481,"2,036"
47,Vermont,3,1,1,-,2,6,1,8,4,12,38
48,Virgin Islands,-,-,-,3,-,-,-,-,1,1,5
49,Virginia,"3,887","1,694","3,728","2,888","1,650","4,215",770,"5,400","6,213","4,373","34,818"
50,Washington,391,283,476,494,435,723,237,"1,113","1,301","1,221","6,674"
51,West Virginia,30,12,26,23,23,41,4,60,89,45,353
52,Wisconsin,85,38,85,94,98,246,62,531,721,582,"2,542"
53,Wyoming,8,6,23,14,15,15,6,22,34,30,173

In [14]:
refugees = pd.read_csv("Refugge_resettlement - Sheet1.csv")

refugees

     Year Annual Ceiling Number of Admitted Refugees
0    1975              -                     146,158
1    1976              -                      27,206
2    1977              -                      19,946
3    1978              -                      36,507
4    1979              -                     111,363
5    1980        231,700                     207,116
6    1981        217,000                     159,252
7    1982        140,000                      98,096
8    1983         90,000                      61,218
9    1984         72,000                      70,393
10   1985         70,000                      67,704
11   1986         67,000                      62,146
12   1987         70,000                      64,528
13   1988         87,500                      76,483
14   1989        116,500                     107,070
15   1990        125,000                     122,066
16   1991        131,000                     113,389
17   1992        131,000                     132,531
18   1993        142,000                     119,448
19   1994        121,000                     112,981
20   1995        112,000                      99,974
21   1996         90,000                      76,403
22   1997         78,000                      70,488
23   1998         83,000                      77,080
24   1999         91,000                      85,525
25   2000         90,000                      73,147
26   2001         80,000                      69,886
27   2002         70,000                      27,131
28   2003         70,000                      28,403
29   2004         70,000                      52,873
30   2005         70,000                      53,813
31   2006         70,000                      41,223
32   2007         70,000                      48,282
33   2008         80,000                      60,191
34   2009         80,000                      74,654
35   2010         80,000                      73,311
36   2011         80,000                      56,424
37   2012         76,000                      58,238
38   2013         70,000                      69,926
39   2014         70,000                      69,987
40   2015         70,000                      69,933
41   2016         85,000                      84,994
42   2017         50,000                      53,716
43   2018         45,000                      22,655
44   2019         30,000                      30,000
45   2020         18,000                      11,814
46   2021         62,500                      11,411
47   2022        125,000                      25,465
48   2023        125,000                      60,014
49  2024*        125,000                      21,790

In [16]:
immigrant_state = pd.read_csv("Immigrant_pop_state - Sheet1.csv")

immigrant_state

,Country,Total Population,Immigrant Population,Immigrant Share of Total State Population,Year
0,United States,"248,709,900","19,767,300",7.90%,1990
1,Alabama,"4,040,600","43,500",1.10%,1990
2,Alaska,"550,000","24,800",4.50%,1990
3,Arizona,"3,665,200","278,200",7.60%,1990
4,Arkansas,"2,350,700","24,900",1.10%,1990
...,...,...,...,...,...
307,Virginia,"8,684,000","1,105,000",12.70%,2022
308,Washington,"7,786,000","1,188,000",15.30%,2022
309,West Virginia,"1,775,000","32,000",1.80%,2022
310,Wisconsin,"5,893,000","295,000",5.00%,2022
311,Wyoming,"581,000","18,000",3.10%,2022

In [20]:
immigrant_state['Immigrant Share of Total State Population'] = immigrant_state['Immigrant Share of Total State Population'].str.replace('%','').astype(float)

immigrant_state

,Country,Total Population,Immigrant Population,Immigrant Share of Total State Population,Year
0,United States,"248,709,900","19,767,300",7.9,1990
1,Alabama,"4,040,600","43,500",1.1,1990
2,Alaska,"550,000","24,800",4.5,1990
3,Arizona,"3,665,200","278,200",7.6,1990
4,Arkansas,"2,350,700","24,900",1.1,1990
...,...,...,...,...,...
307,Virginia,"8,684,000","1,105,000",12.7,2022
308,Washington,"7,786,000","1,188,000",15.3,2022
309,West Virginia,"1,775,000","32,000",1.8,2022
310,Wisconsin,"5,893,000","295,000",5.0,2022
311,Wyoming,"581,000","18,000",3.1,2022

In [22]:
legal_country = pd.read_csv("new_legals_country - Sheet1.csv")

legal_country

,Region/Sub-Region or Country of Birth,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,All Countries (total),"644,787","841,002","1,058,902","1,059,356","703,542","957,883","1,122,257","1,266,129","1,052,415",...,"990,553","1,016,518","1,051,031","1,183,505","1,127,167","1,096,611","1,031,765","707,362","740,002","1,018,349"
1,Africa,"36,572","44,529","53,723","60,094","48,633","66,412","85,091","117,416","94,709",...,"98,304","98,413","101,415","113,426","118,824","115,736","111,194","76,649","66,211","89,571"
2,Eastern Africa,"8,839","10,778","13,373","18,426","14,901","21,266","26,530","41,295","31,731",...,"30,044","30,241","31,618","35,047","39,311","39,582","32,137","22,084","14,734","21,520"
3,Burundi,16,28,79,120,74,100,186,320,257,...,260,273,351,415,"1,094",762,781,"1,099",730,788
4,Comoros,X,X,X,X,X,X,6,7,7,...,D,9,5,4,4,8,10,4,4,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,American Samoa,11,7,28,26,16,12,15,28,11,...,D,-,-,-,D,D,-,-,-,-
237,French Polynesia,9,13,16,12,14,13,19,37,27,...,-,24,14,27,20,10,25,15,12,51
238,Marshall Islands,3,3,D,26,26,48,32,53,48,...,46,56,32,32,23,23,22,12,12,15
239,Samoa,91,184,165,157,178,203,173,283,290,...,237,239,207,219,194,179,195,154,130,139
240,Tonga,281,349,327,331,238,327,309,437,438,...,348,320,327,283,262,225,256,202,171,213

In [27]:
unauthorized_estimates = pd.read_csv("Unauthorized_estimates - Sheet1.csv")

unauthorized_estimates['State Share of the Total Unauthorized Immigrant Population'] = unauthorized_estimates['State Share of the Total Unauthorized Immigrant Population'].str.replace('%','').astype(float)

unauthorized_estimates

,State,Number of Unauthorized Immigrants,State Share of the Total Unauthorized Immigrant Population
0,United States,"11,047,000",100.0
1,California,"2,739,000",24.8
2,Texas,"1,739,000",15.7
3,New York,"835,000",7.6
4,Florida,"772,000",7.0
5,New Jersey,"440,000",4.0
6,Illinois,"425,000",3.8
7,Georgia,"339,000",3.1
8,North Carolina,"296,000",2.7
9,Arizona,"273,000",2.5
10,Virginia,"251,000",2.3
11,Washington,"246,000",2.2
12,Maryland,"225,000",2.0
13,Massachusetts,"209,000",1.9
14,Nevada,"168,000",1.5
15,Colorado,"162,000",1.5
16,Pennsylvania,"153,000",1.4
17,Tennessee,"128,000",1.2
18,Connecticut,"113,000",1.0
19,Oregon,"108,000",1.0
20,Indiana,"102,000",0.9
21,Michigan,"91,000",0.8
22,Oklahoma,"90,000",0.8
23,Utah,"89,000",0.8
24,Ohio,"89,000",0.8
25,South Carolina,"88,000",0.8
26,Minnesota,"81,000",0.7
27,Wisconsin,"70,000",0.6
28,Louisiana,"70,000",0.6
29,Kansas,"69,000",0.6
30,New Mexico,"63,000",0.6
31,Alabama,"62,000",0.6
32,Arkansas,"58,000",0.5
33,Hawaii,"51,000",0.5
34,Missouri,"50,000",0.5
35,Kentucky,"46,000",0.4
36,Nebraska,"42,000",0.4
37,Iowa,"37,000",0.3
38,Idaho,"29,000",0.3
39,Mississippi,"25,000",0.2
40,Delaware,"24,000",0.2
41,Rhode Island,"24,000",0.2
42,District of Columbia,"21,000",0.2
43,New Hampshire,"11,000",0.1
44,Alaska,"10,000",0.1
45,South Dakota,"7,000",0.1
46,Wyoming,"7,000",0.1
47,North Dakota,"5,000",0.0
48,Maine,"5,000",0.0
49,West Virginia,"4,000",0.0
50,Montana,"3,000",0.0
51,Vermont,"3,000",0.0